version: '3.8'

services:
  imgtag:
    image: tizhihua/imgtag:latest
    container_name: imgtag-aio
    ports:
      - "5173:8000"
    volumes:
      # 持久化数据库数据（必须！）
      - ./data/db:/var/lib/postgresql/data
      # 持久化上传文件和本地模型
      - ./data/files:/app/data
      - ./data/models:/app/models
    # 环境变量通常已有默认值，这里可以覆盖
    environment:
      - TZ=Asia/Shanghai
    restart: unless-stopped
